* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #555;
	overflow: hidden;
}


#btns {
	position: absolute;
	overflow: hidden;
	width: 100%;
	bottom: 0;
	background-color: #333;
	border-top: 5px solid #333;
}

#btns a {
	width: 49%;
	background-color: #444;
	display:block;
	text-align: center;
	height: 50px;
	border-bottom: none;
}

#btns a:active {
	background-color: #888;
}

#highlightTouch {
	background-color: #888;
	height: 30px;
	width: 30px;
	border-radius: 25px;
	position:absolute;
}

#keyboard {
	display: none;
	background-color: #e8e8e8;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
}

#staging_area {
	background-color: #555;
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 20px;
	color: #d8d8d8;
}